In [1]:
import json
import collections

In [2]:
with open('lecsections.json') as f:
    data = json.load(f)
print(data)

[{'name': 'ACCT', 'Code': 321, 'Prerequisite': '  ACCT202 AND MFIN202', 'data': [{'value': 47}]}, {'name': 'ACCT', 'Code': 501, 'data': [{'value': 67}]}, {'name': 'ACWR', 'Code': 101, 'data': [{'value': 40}]}, {'name': 'ACCT', 'Code': 201, 'data': [{'value': 154}]}, {'name': 'ACCT', 'Code': 202, 'Prerequisite': '  ACCT201', 'data': [{'value': 70}]}, {'name': 'ACWR', 'Code': 103, 'Prerequisite': '  ACWR101', 'data': [{'value': 33}]}, {'name': 'ACWR', 'Code': 104, 'Prerequisite': '  ACWR101', 'data': [{'value': 30}]}, {'name': 'ALIS', 'Code': 100, 'data': [{'value': 50}]}, {'name': 'ACWR', 'Code': 106, 'Prerequisite': '  ACWR101', 'data': [{'value': 31}]}, {'name': 'ARBC', 'Code': 201, 'data': [{'value': 31}]}, {'name': 'ARBC', 'Code': 202, 'Prerequisite': '  ARBC201', 'data': [{'value': 31}]}, {'name': 'ARBC', 'Code': 301, 'data': [{'value': 18}]}, {'name': 'ARHA', 'Code': 121, 'data': [{'value': 31}]}, {'name': 'ARHA', 'Code': 201, 'data': [{'value': 34}]}, {'name': 'ARHA', 'Code': 315, 'data': [{'value': 31}]}, {'name': 'ARHA', 'Code': 318, 'data': [{'value': 26}]}, {'name': 'ACWR', 'Code': 107, 'Prerequisite': '  ACWR101', 'data': [{'value': 30}]}, {'name': 'ARHA', 'Code': 407, 'data': [{'value': 24}]}, {'name': 'ARHA', 'Code': 422, 'data': [{'value': 29}]}, {'name': 'ARHA', 'Code': 440, 'Prerequisite': '  ARHA121', 'data': [{'value': 12}]}, {'name': 'ARHA', 'Code': 461, 'data': [{'value': 17}]}, {'name': 'ARHA', 'Code': 502, 'data': [{'value': 50}]}, {'name': 'ARHA', 'Code': 526, 'data': [{'value': 26}]}, {'name': 'ARHA', 'Code': 527, 'data': [{'value': 24}]}, {'name': 'ARHA', 'Code': 550, 'data': [{'value': 17}]}, {'name': 'ARTS', 'Code': 201, 'data': [{'value': 90}]}, {'name': 'ARTS', 'Code': 301, 'data': [{'value': 30}]}, {'name': 'ARTS', 'Code': 350, 'data': [{'value': 90}]}, {'name': 'ASIU', 'Code': 100, 'data': [{'value': 47}]}, {'name': 'ASIU', 'Code': 102, 'data': [{'value': 48}]}, {'name': 'ASIU', 'Code': 104, 'data': [{'value': 40}]}, {'name': 'ASIU', 'Code': 109, 'data': [{'value': 44}]}, {'name': 'ASIU', 'Code': 111, 'data': [{'value': 45}]}, {'name': 'ASIU', 'Code': 121, 'data': [{'value': 66}]}, {'name': 'BUSA', 'Code': 499, 'data': [{'value': 48}]}, {'name': 'ASIU', 'Code': 115, 'data': [{'value': 47}]}, {'name': 'ASIU', 'Code': 118, 'data': [{'value': 50}]}, {'name': 'ASIU', 'Code': 119, 'data': [{'value': 33}]}, {'name': 'CHBI', 'Code': 201, 'Prerequisite': '  CHEM102', 'data': [{'value': 62}]}, {'name': 'CHBI', 'Code': 300, 'Prerequisite': '  CHEM102 OR MBGE101', 'data': [{'value': 104}]}, {'name': 'CHBI', 'Code': 301, 'Prerequisite': '  MATH203 OR MATH203 OR MATH204 AND CHBI201', 'data': [{'value': 107}]}, {'name': 'CHBI', 'Code': 302, 'Prerequisite': '  CHBI301', 'data': [{'value': 40}]}, {'name': 'CHBI', 'Code': 303, 'Prerequisite': '  CHBI301', 'data': [{'value': 48}]}, {'name': 'CHBI', 'Code': 402, 'Prerequisite': '  CHBI303 AND CHBI308 AND ENGR201', 'data': [{'value': 40}]}, {'name': 'CHBI', 'Code': 403, 'Prerequisite': '  CHBI303 AND CHBI308', 'data': [{'value': 47}]}, {'name': 'CHBI', 'Code': 405, 'Prerequisite': '  CHEM102', 'data': [{'value': 42}]}, {'name': 'CHBI', 'Code': 415, 'data': [{'value': 48}]}, {'name': 'CHBI', 'Code': 418, 'Prerequisite': '  MBGE300 OR CHBI300', 'data': [{'value': 48}]}, {'name': 'CHBI', 'Code': 501, 'data': [{'value': 24}]}, {'name': 'CHBI', 'Code': 502, 'data': [{'value': 31}]}, {'name': 'CHEM', 'Code': 502, 'data': [{'value': 29}]}, {'name': 'CHEM', 'Code': 504, 'data': [{'value': 30}]}, {'name': 'CHEM', 'Code': 515, 'data': [{'value': 30}]}, {'name': 'CHIN', 'Code': 201, 'data': [{'value': 18}]}, {'name': 'CHIN', 'Code': 202, 'Prerequisite': '  CHIN201', 'data': [{'value': 18}]}, {'name': 'CMKT', 'Code': 501, 'data': [{'value': 98}]}, {'name': 'CHBI', 'Code': 510, 'data': [{'value': 18}]}, {'name': 'CHEM', 'Code': 101, 'data': [{'value': 107}]}, {'name': 'CHEM', 'Code': 103, 'data': [{'value': 107}]}, {'name': 'CHBI', 'Code': 503, 'data': [{'value': 24}]}, {'name': 'CHEM', 'Code': 201, 'Prerequisite': '  CHEM102', 'data': [{'value': 31}]}, {'name': 'CHEM', 'Code': 206, 'data': [{'value': 75}]}, {'name': 'CHEM', 'Code': 301, 'Prerequisite': '  CHEM102', 'data': [{'value': 60}]}, {'name': 'CHEM', 'Code': 303, 'Prerequisite': '  CHEM102 AND MATH107', 'data': [{'value': 31}]}, {'name': 'CHEM', 'Code': 410, 'Prerequisite': '  CHEM302', 'data': [{'value': 33}]}, {'name': 'CMSE', 'Code': 501, 'data': [{'value': 47}]}, {'name': 'COMM', 'Code': 202, 'data': [{'value': 44}]}, {'name': 'COMP', 'Code': 106, 'data': [{'value': 104}]}, {'name': 'COMP', 'Code': 110, 'data': [{'value': 75}]}, {'name': 'COMP', 'Code': 130, 'data': [{'value': 154}]}, {'name': 'COMP', 'Code': 131, 'data': [{'value': 154}]}, {'name': 'COMP', 'Code': 111, 'data': [{'value': 17}]}, {'name': 'COMP', 'Code': 132, 'Prerequisite': '  COMP131 OR COMP130', 'data': [{'value': 66}]}, {'name': 'COMP', 'Code': 198, 'Prerequisite': '  COMP132', 'data': [{'value': 28}]}, {'name': 'COMP', 'Code': 200, 'Prerequisite': '  COMP106', 'data': [{'value': 104}]}, {'name': 'COMP', 'Code': 301, 'Prerequisite': '  COMP200', 'data': [{'value': 75}]}, {'name': 'COMP', 'Code': 302, 'Prerequisite': '  COMP132 OR COMP202', 'data': [{'value': 70}]}, {'name': 'COMP', 'Code': 317, 'Prerequisite': '  ELEC204', 'data': [{'value': 34}]}, {'name': 'COMP', 'Code': 319, 'Prerequisite': '  COMP202 OR COMP132', 'data': [{'value': 30}]}, {'name': 'COMP', 'Code': 341, 'Prerequisite': '  ENGR200 OR ENGR201 OR MATH201 OR MATH211 OR MATH202', 'data': [{'value': 44}]}, {'name': 'COMP', 'Code': 442, 'Prerequisite': '  COMP341', 'data': [{'value': 40}]}, {'name': 'COMP', 'Code': 303, 'Prerequisite': '  ELEC204', 'data': [{'value': 107}]}, {'name': 'COMP', 'Code': 450, 'Prerequisite': '  ENGR200 AND MATH107  COMP341 OR COMP421', 'data': [{'value': 48}]}, {'name': 'CPAP', 'Code': 100, 'data': [{'value': 105}]}, {'name': 'COMP', 'Code': 491, 'Prerequisite': '  COMP202 AND COMP302', 'data': [{'value': 31}]}, {'name': 'COMP', 'Code': 550, 'data': [{'value': 44}]}, {'name': 'COMP', 'Code': 551, 'data': [{'value': 48}]}, {'name': 'CSHS', 'Code': 504, 'data': [{'value': 31}]}, {'name': 'DASC', 'Code': 521, 'data': [{'value': 231}]}, {'name': 'CSHS', 'Code': 557, 'data': [{'value': 12}]}, {'name': 'DASC', 'Code': 501, 'data': [{'value': 47}]}, {'name': 'DTES', 'Code': 551, 'data': [{'value': 25}]}, {'name': 'ECIR', 'Code': 313, 'Prerequisite': '  INTL203', 'data': [{'value': 60}]}, {'name': 'ECIR', 'Code': 410, 'data': [{'value': 62}]}, {'name': 'ECON', 'Code': 101, 'data': [{'value': 107}]}, {'name': 'ECON', 'Code': 102, 'data': [{'value': 104}]}, {'name': 'ECON', 'Code': 201, 'Prerequisite': '  ECON101 OR ECON100', 'data': [{'value': 66}]}, {'name': 'ECON', 'Code': 100, 'data': [{'value': 154}]}, {'name': 'ECON', 'Code': 202, 'Prerequisite': '  ECON102', 'data': [{'value': 107}]}, {'name': 'ECON', 'Code': 311, 'Prerequisite': '  ECON201 OR ECON201 AND MATH201 OR ENGR200 OR ENGR201 OR MATH211 AND CPAP100 OR CPAP150 OR CPAP101', 'data': [{'value': 107}]}, {'name': 'ECON', 'Code': 321, 'Prerequisite': '  ECON201', 'data': [{'value': 62}]}, {'name': 'ECON', 'Code': 333, 'Prerequisite': '  ECON100 OR ECON110 OR ECON201 OR ECON201 OR ECON101', 'data': [{'value': 107}]}, {'name': 'ECON', 'Code': 345, 'Prerequisite': '  ECON201', 'data': [{'value': 62}]}, {'name': 'ECON', 'Code': 360, 'Prerequisite': '  ECON202 OR ECON202', 'data': [{'value': 154}]}, {'name': 'ECON', 'Code': 451, 'Prerequisite': '  ECON101 AND ECON102', 'data': [{'value': 44}]}, {'name': 'ECON', 'Code': 481, 'Prerequisite': '  ECON202', 'data': [{'value': 70}]}, {'name': 'ECON', 'Code': 499, 'Prerequisite': '  ECON201 OR ECON201 AND ECON202 OR ECON202 AND ECON311', 'data': [{'value': 66}]}, {'name': 'ECON', 'Code': 370, 'Prerequisite': '  ECON202 OR ECON202', 'data': [{'value': 154}]}, {'name': 'ECON', 'Code': 430, 'Prerequisite': '  ECON201 OR ECON201 AND ECON333', 'data': [{'value': 27}]}, {'name': 'ECON', 'Code': 501, 'data': [{'value': 18}]}, {'name': 'ECON', 'Code': 503, 'data': [{'value': 24}]}, {'name': 'ELC', 'Code': 1035, 'data': [{'value': 20}]}, {'name': 'ECON', 'Code': 507, 'data': [{'value': 34}]}, {'name': 'ECON', 'Code': 513, 'data': [{'value': 12}]}, {'name': 'EFIN', 'Code': 301, 'Prerequisite': '  MFIN202', 'data': [{'value': 66}]}, {'name': 'ELC', 'Code': 1036, 'data': [{'value': 20}]}, {'name': 'ELC', 'Code': 1037, 'data': [{'value': 20}]}, {'name': 'ELC', 'Code': 2003, 'data': [{'value': 22}]}, {'name': 'ELC', 'Code': 2007, 'data': [{'value': 22}]}, {'name': 'ELC', 'Code': 2017, 'data': [{'value': 22}]}, {'name': 'ELC', 'Code': 3525, 'data': [{'value': 31}]}, {'name': 'ELC', 'Code': 3526, 'data': [{'value': 31}]}, {'name': 'ELC', 'Code': 3527, 'data': [{'value': 31}]}, {'name': 'ELC', 'Code': 3528, 'data': [{'value': 31}]}, {'name': 'ELC', 'Code': 4018, 'data': [{'value': 53}]}, {'name': 'ELC', 'Code': 4019, 'data': [{'value': 53}]}, {'name': 'ELC', 'Code': 4020, 'data': [{'value': 53}]}, {'name': 'ELC', 'Code': 4025, 'data': [{'value': 53}]}, {'name': 'ECON', 'Code': 511, 'data': [{'value': 28}]}, {'name': 'EFIN', 'Code': 304, 'Prerequisite': '  MFIN202', 'data': [{'value': 48}]}, {'name': 'ELC', 'Code': 1038, 'data': [{'value': 20}]}, {'name': 'ELC', 'Code': 5506, 'data': [{'value': 53}]}, {'name': 'ELC', 'Code': 5505, 'data': [{'value': 53}]}, {'name': 'ELC', 'Code': 5509, 'data': [{'value': 53}]}, {'name': 'ELC', 'Code': 8806, 'data': [{'value': 53}]}, {'name': 'ELEC', 'Code': 198, 'data': [{'value': 25}]}, {'name': 'EFIN', 'Code': 403, 'Prerequisite': '  MFIN202', 'data': [{'value': 30}]}, {'name': 'ELEC', 'Code': 201, 'Prerequisite': '  MATH107 AND MATH106', 'data': [{'value': 104}]}, {'name': 'ELEC', 'Code': 204, 'data': [{'value': 231}]}, {'name': 'ELEC', 'Code': 202, 'Prerequisite': '  MATH106 AND MATH107', 'data': [{'value': 62}]}, {'name': 'ELEC', 'Code': 301, 'Prerequisite': '  ELEC201 AND ELEC202', 'data': [{'value': 104}]}, {'name': 'ELEC', 'Code': 310, 'Prerequisite': '  ELEC202 AND ELEC201', 'data': [{'value': 91}]}, {'name': 'ELEC', 'Code': 312, 'Prerequisite': '  PHYS302 OR ELEC206', 'data': [{'value': 33}]}, {'name': 'ELEC', 'Code': 339, 'data': [{'value': 44}]}, {'name': 'ELEC', 'Code': 402, 'data': [{'value': 29}]}, {'name': 'ELEC', 'Code': 405, 'Prerequisite': '  ELEC301 OR ELEC304', 'data': [{'value': 44}]}, {'name': 'ELEC', 'Code': 418, 'Prerequisite': '  MATH106 AND MATH107', 'data': [{'value': 47}]}, {'name': 'ELEC', 'Code': 421, 'Prerequisite': '  ELEC206 OR PHYS302', 'data': [{'value': 31}]}, {'name': 'ELEC', 'Code': 430, 'data': [{'value': 32}]}, {'name': 'ELEC', 'Code': 438, 'Prerequisite': '  ELEC421 OR ELEC429', 'data': [{'value': 31}]}, {'name': 'ELEC', 'Code': 442, 'data': [{'value': 44}]}, {'name': 'ELEC', 'Code': 450, 'Prerequisite': '  ELEC410  ELEC406', 'data': [{'value': 31}]}, {'name': 'ENGR', 'Code': 200, 'Prerequisite': '  MATH106 OR MATH106', 'data': [{'value': 107}]}, {'name': 'ELEC', 'Code': 518, 'data': [{'value': 47}]}, {'name': 'ENGR', 'Code': 201, 'Prerequisite': ' OR MATH106 OR MATH106', 'data': [{'value': 66}]}, {'name': 'ENGR', 'Code': 400, 'Prerequisite': '  MATH203 OR MATH203', 'data': [{'value': 107}]}, {'name': 'ENGR', 'Code': 429, 'data': [{'value': 48}]}, {'name': 'EQUR', 'Code': 101, 'data': [{'value': 34}]}, {'name': 'ETHC', 'Code': 105, 'data': [{'value': 107}]}, {'name': 'EQUR', 'Code': 121, 'data': [{'value': 75}]}, {'name': 'ETHC', 'Code': 108, 'data': [{'value': 70}]}, {'name': 'ETHC', 'Code': 109, 'data': [{'value': 45}]}, {'name': 'EXCH', 'Code': 301, 'data': [{'value': 29}]}, {'name': 'FREN', 'Code': 201, 'data': [{'value': 27}]}, {'name': 'ETHC', 'Code': 113, 'data': [{'value': 60}]}, {'name': 'FREN', 'Code': 202, 'Prerequisite': '  FREN201', 'data': [{'value': 31}]}, {'name': 'GERM', 'Code': 201, 'data': [{'value': 30}]}, {'name': 'GERM', 'Code': 202, 'Prerequisite': '  GERM201', 'data': [{'value': 30}]}, {'name': 'GERM', 'Code': 301, 'Prerequisite': '  GERM202', 'data': [{'value': 31}]}, {'name': 'HIST', 'Code': 103, 'data': [{'value': 31}]}, {'name': 'HIST', 'Code': 203, 'data': [{'value': 31}]}, {'name': 'HIST', 'Code': 217, 'data': [{'value': 31}]}, {'name': 'HIST', 'Code': 300, 'Prerequisite': '  ACWR101', 'data': [{'value': 231}]}, {'name': 'GERM', 'Code': 302, 'Prerequisite': '  GERM301', 'data': [{'value': 30}]}, {'name': 'GERM', 'Code': 401, 'Prerequisite': '  GERM302', 'data': [{'value': 31}]}, {'name': 'GREK', 'Code': 401, 'data': [{'value': 18}]}, {'name': 'HIST', 'Code': 309, 'data': [{'value': 44}]}, {'name': 'HIST', 'Code': 311, 'data': [{'value': 28}]}, {'name': 'HIST', 'Code': 316, 'data': [{'value': 30}]}, {'name': 'HIST', 'Code': 402, 'data': [{'value': 60}]}, {'name': 'HIST', 'Code': 410, 'data': [{'value': 28}]}, {'name': 'HIST', 'Code': 501, 'data': [{'value': 24}]}, {'name': 'HUMS', 'Code': 102, 'data': [{'value': 45}]}, {'name': 'HUMS', 'Code': 104, 'data': [{'value': 48}]}, {'name': 'HUMS', 'Code': 105, 'data': [{'value': 40}]}, {'name': 'HUMS', 'Code': 109, 'data': [{'value': 65}]}, {'name': 'HUMS', 'Code': 129, 'data': [{'value': 44}]}, {'name': 'HUMS', 'Code': 130, 'data': [{'value': 48}]}, {'name': 'HUMS', 'Code': 131, 'data': [{'value': 154}]}, {'name': 'HUMS', 'Code': 114, 'data': [{'value': 45}]}, {'name': 'HUMS', 'Code': 120, 'data': [{'value': 42}]}, {'name': 'HUMS', 'Code': 132, 'data': [{'value': 28}]}, {'name': 'INDR', 'Code': 100, 'data': [{'value': 104}]}, {'name': 'INDR', 'Code': 198, 'data': [{'value': 18}]}, {'name': 'INDR', 'Code': 201, 'Prerequisite': '  MATH106', 'data': [{'value': 107}]}, {'name': 'INDR', 'Code': 363, 'Prerequisite': '  INDR262 AND INDR201', 'data': [{'value': 60}]}, {'name': 'INDR', 'Code': 420, 'Prerequisite': '  INDR262', 'data': [{'value': 29}]}, {'name': 'INDR', 'Code': 343, 'Prerequisite': '  ENGR200 OR ENGR201 AND INDR262', 'data': [{'value': 107}]}, {'name': 'INDR', 'Code': 430, 'Prerequisite': '  ENGR200 OR ENGR201 OR MATH201', 'data': [{'value': 75}]}, {'name': 'INDR', 'Code': 440, 'Prerequisite': '  INDR262', 'data': [{'value': 50}]}, {'name': 'INDR', 'Code': 473, 'Prerequisite': '  ENGR200', 'data': [{'value': 48}]}, {'name': 'INDR', 'Code': 475, 'Prerequisite': '  ENGR200', 'data': [{'value': 40}]}, {'name': 'INDR', 'Code': 481, 'Prerequisite': '  INDR372', 'data': [{'value': 107}]}, {'name': 'INDR', 'Code': 483, 'Prerequisite': '  ENGR200 AND INDR262 AND INDR372', 'data': [{'value': 33}]}, {'name': 'INDR', 'Code': 371, 'Prerequisite': '  INDR262', 'data': [{'value': 107}]}, {'name': 'INDR', 'Code': 501, 'data': [{'value': 29}]}, {'name': 'INDR', 'Code': 503, 'data': [{'value': 33}]}, {'name': 'INDR', 'Code': 564, 'data': [{'value': 27}]}, {'name': 'INTL', 'Code': 101, 'data': [{'value': 65}]}, {'name': 'INTL', 'Code': 201, 'Prerequisite': '  INTL101 AND MATH201 OR ENGR200 OR ENGR201 AND CPAP150 OR CPAP101 OR COMP100 OR CPAP100', 'data': [{'value': 48}]}, {'name': 'INTL', 'Code': 203, 'Prerequisite': '  INTL101', 'data': [{'value': 66}]}, {'name': 'INTL', 'Code': 204, 'Prerequisite': '  INTL101', 'data': [{'value': 107}]}, {'name': 'INTL', 'Code': 301, 'data': [{'value': 45}]}, {'name': 'INTL', 'Code': 307, 'data': [{'value': 12}]}, {'name': 'INTL', 'Code': 325, 'Prerequisite': '  INTL101 OR SOCI100 AND INTL204 OR INTL204', 'data': [{'value': 48}]}, {'name': 'INTL', 'Code': 330, 'Prerequisite': '  INTL203 OR INTL204', 'data': [{'value': 44}]}, {'name': 'INTL', 'Code': 374, 'Prerequisite': '  INTL203', 'data': [{'value': 154}]}, {'name': 'INTL', 'Code': 375, 'Prerequisite': '  INTL101 AND INTL203 AND INTL204', 'data': [{'value': 60}]}, {'name': 'INTL', 'Code': 401, 'data': [{'value': 34}]}, {'name': 'INTL', 'Code': 450, 'Prerequisite': '  INTL101', 'data': [{'value': 65}]}, {'name': 'INTL', 'Code': 380, 'Prerequisite': '  INTL203 AND INTL313 AND INTL204', 'data': [{'value': 65}]}, {'name': 'INTL', 'Code': 421, 'Prerequisite': '  SOCI100 OR SOCI101 OR SOCI102 OR SOCI103 AND SOCI201 OR SOCI202 OR SOCI204 OR SOCI204 OR SOCI206 OR SOCI208', 'data': [{'value': 45}]}, {'name': 'INTL', 'Code': 447, 'Prerequisite': '  INTL330  INTL203 OR INTL204 OR INTL204', 'data': [{'value': 48}]}, {'name': 'INTL', 'Code': 475, 'Prerequisite': '  INTL101 AND INTL204', 'data': [{'value': 47}]}, {'name': 'INTL', 'Code': 499, 'Prerequisite': '  INTL101 AND INTL201 AND INTL203 AND INTL204 AND INTL301 AND INTL308', 'data': [{'value': 48}]}, {'name': 'INTL', 'Code': 601, 'data': [{'value': 31}]}, {'name': 'ISP', 'Code': 450, 'data': [{'value': 66}]}, {'name': 'INTL', 'Code': 504, 'data': [{'value': 24}]}, {'name': 'INTL', 'Code': 501, 'data': [{'value': 29}]}, {'name': 'INTL', 'Code': 531, 'data': [{'value': 12}]}, {'name': 'INTL', 'Code': 550, 'data': [{'value': 65}]}, {'name': 'INTL', 'Code': 600, 'data': [{'value': 18}]}, {'name': 'ITAL', 'Code': 201, 'data': [{'value': 30}]}, {'name': 'ITAL', 'Code': 202, 'Prerequisite': '  ITAL201', 'data': [{'value': 30}]}, {'name': 'ITAL', 'Code': 301, 'Prerequisite': '  ITAL202', 'data': [{'value': 30}]}, {'name': 'LANG', 'Code': 290, 'data': [{'value': 30}]}, {'name': 'LATN', 'Code': 401, 'data': [{'value': 30}]}, {'name': 'LAW', 'Code': 103, 'data': [{'value': 154}]}, {'name': 'LAW', 'Code': 105, 'data': [{'value': 154}]}, {'name': 'LAW', 'Code': 111, 'data': [{'value': 154}]}, {'name': 'LAW', 'Code': 201, 'data': [{'value': 75}]}, {'name': 'LAW', 'Code': 205, 'Prerequisite': '  LAW105', 'data': [{'value': 104}]}, {'name': 'LAW', 'Code': 207, 'Prerequisite': '  LAW103', 'data': [{'value': 66}]}, {'name': 'LAW', 'Code': 221, 'Prerequisite': '  LAW104', 'data': [{'value': 154}]}, {'name': 'LAW', 'Code': 301, 'Prerequisite': '  LAW105', 'data': [{'value': 104}]}, {'name': 'LAW', 'Code': 303, 'Prerequisite': '  LAW206 AND LAW205', 'data': [{'value': 154}]}, {'name': 'LAW', 'Code': 305, 'Prerequisite': '  LAW205', 'data': [{'value': 75}]}, {'name': 'LAW', 'Code': 325, 'data': [{'value': 42}]}, {'name': 'LAW', 'Code': 328, 'data': [{'value': 47}]}, {'name': 'LAW', 'Code': 403, 'Prerequisite': '  LAW304', 'data': [{'value': 75}]}, {'name': 'LAW', 'Code': 407, 'Prerequisite': '  LAW105 AND LAW205', 'data': [{'value': 107}]}, {'name': 'LAW', 'Code': 409, 'Prerequisite': '  LAW303 AND LAW304', 'data': [{'value': 154}]}, {'name': 'LAW', 'Code': 410, 'data': [{'value': 45}]}, {'name': 'LAW', 'Code': 425, 'Prerequisite': '  LAW210 AND LAW306', 'data': [{'value': 65}]}, {'name': 'LITR', 'Code': 101, 'data': [{'value': 26}]}, {'name': 'LITR', 'Code': 201, 'data': [{'value': 32}]}, {'name': 'LITR', 'Code': 210, 'data': [{'value': 27}]}, {'name': 'LITR', 'Code': 303, 'Prerequisite': '  LITR111', 'data': [{'value': 30}]}, {'name': 'LITR', 'Code': 316, 'Prerequisite': '  LITR216', 'data': [{'value': 24}]}, {'name': 'LITR', 'Code': 357, 'data': [{'value': 32}]}, {'name': 'LITR', 'Code': 441, 'data': [{'value': 42}]}, {'name': 'LITR', 'Code': 499, 'Prerequisite': '  LITR442 OR LITR442', 'data': [{'value': 10}]}, {'name': 'MASE', 'Code': 510, 'data': [{'value': 33}]}, {'name': 'MASE', 'Code': 515, 'data': [{'value': 30}]}, {'name': 'MASE', 'Code': 518, 'data': [{'value': 30}]}, {'name': 'MATH', 'Code': 101, 'data': [{'value': 107}]}, {'name': 'MATH', 'Code': 102, 'data': [{'value': 107}]}, {'name': 'MATH', 'Code': 103, 'data': [{'value': 30}]}, {'name': 'MATH', 'Code': 106, 'data': [{'value': 107}]}, {'name': 'MATH', 'Code': 107, 'Prerequisite': '  MATH106 OR MATH106  MATH107', 'data': [{'value': 107}]}, {'name': 'MATH', 'Code': 201, 'Prerequisite': '  MATH100 OR MATH101 OR MATH106', 'data': [{'value': 107}]}, {'name': 'LAW', 'Code': 430, 'data': [{'value': 45}]}, {'name': 'LAW', 'Code': 433, 'Prerequisite': '  LAW205', 'data': [{'value': 70}]}, {'name': 'MATH', 'Code': 202, 'data': [{'value': 104}]}, {'name': 'MATH', 'Code': 204, 'data': [{'value': 91}]}, {'name': 'MATH', 'Code': 203, 'Prerequisite': '  MATH106 OR MATH106', 'data': [{'value': 107}]}, {'name': 'MATH', 'Code': 205, 'Prerequisite': '  MATH103', 'data': [{'value': 

In [3]:
with open('subjects.json') as f:
    subjects = json.load(f)
    
print(subjects)

[{'name': 'ACCT'}, {'name': 'ACWR'}, {'name': 'ALIS'}, {'name': 'ARBC'}, {'name': 'ARHA'}, {'name': 'ARTS'}, {'name': 'ASIU'}, {'name': 'BUSA'}, {'name': 'CHBI'}, {'name': 'CHEM'}, {'name': 'CHIN'}, {'name': 'CMKT'}, {'name': 'CMSE'}, {'name': 'COMM'}, {'name': 'COMP'}, {'name': 'CPAP'}, {'name': 'CSHS'}, {'name': 'DASC'}, {'name': 'DTES'}, {'name': 'ECIR'}, {'name': 'ECON'}, {'name': 'EFIN'}, {'name': 'ELC'}, {'name': 'ELEC'}, {'name': 'ENGR'}, {'name': 'EQUR'}, {'name': 'ETHC'}, {'name': 'EXCH'}, {'name': 'FREN'}, {'name': 'GERM'}, {'name': 'GREK'}, {'name': 'HIST'}, {'name': 'HUMS'}, {'name': 'INDR'}, {'name': 'INTL'}, {'name': 'ISP'}, {'name': 'ITAL'}, {'name': 'LANG'}, {'name': 'LATN'}, {'name': 'LAW'}, {'name': 'LITR'}, {'name': 'MASE'}, {'name': 'MATH'}, {'name': 'MAVA'}, {'name': 'MBGE'}, {'name': 'MECH'}, {'name': 'MEDI'}, {'name': 'MFIN'}, {'name': 'MGIS'}, {'name': 'MGMT'}, {'name': 'MKTG'}, {'name': 'MUSC'}, {'name': 'NURS'}, {'name': 'OPSM'}, {'name': 'PHIL'}, {'name': 'PHYS'}, {'name': 'PSYC'}, {'name': 'QMBU'}, {'name': 'RUSS'}, {'name': 'SCIE'}, {'name': 'SOCI'}, {'name': 'SOSC'}, {'name': 'SPAN'}, {'name': 'TECH'}, {'name': 'TLIT'}, {'name': 'TURK'}, {'name': 'UNIV'}]

In [4]:
import pandas as pd

df = pd.DataFrame(subjects)
df.head(10)

   name
0  ACCT
1  ACWR
2  ALIS
3  ARBC
4  ARHA
5  ARTS
6  ASIU
7  BUSA
8  CHBI
9  CHEM

In [5]:
df['data']=''
for i in range(0, len(df)):
    df['data'][i] = []
df.head(10)

   name data
0  ACCT   []
1  ACWR   []
2  ALIS   []
3  ARBC   []
4  ARHA   []
5  ARTS   []
6  ASIU   []
7  BUSA   []
8  CHBI   []
9  CHEM   []

In [6]:
df2 = pd.DataFrame(data)
df2.head(10)

   Code           Prerequisite              data  name
0   321    ACCT202 AND MFIN202   [{'value': 47}]  ACCT
1   501                    NaN   [{'value': 67}]  ACCT
2   101                    NaN   [{'value': 40}]  ACWR
3   201                    NaN  [{'value': 154}]  ACCT
4   202                ACCT201   [{'value': 70}]  ACCT
5   103                ACWR101   [{'value': 33}]  ACWR
6   104                ACWR101   [{'value': 30}]  ACWR
7   100                    NaN   [{'value': 50}]  ALIS
8   106                ACWR101   [{'value': 31}]  ACWR
9   201                    NaN   [{'value': 31}]  ARBC

In [7]:
len(df2)

441

In [8]:
df2['value']=0

In [9]:
df2.head(10)

   Code           Prerequisite              data  name  value
0   321    ACCT202 AND MFIN202   [{'value': 47}]  ACCT      0
1   501                    NaN   [{'value': 67}]  ACCT      0
2   101                    NaN   [{'value': 40}]  ACWR      0
3   201                    NaN  [{'value': 154}]  ACCT      0
4   202                ACCT201   [{'value': 70}]  ACCT      0
5   103                ACWR101   [{'value': 33}]  ACWR      0
6   104                ACWR101   [{'value': 30}]  ACWR      0
7   100                    NaN   [{'value': 50}]  ALIS      0
8   106                ACWR101   [{'value': 31}]  ACWR      0
9   201                    NaN   [{'value': 31}]  ARBC      0

In [10]:
import math
for i in range(0, 382):
    df2['value'][i] = df2['data'][i][0]['value']

C:\Users\Public\Empty\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [11]:
df2 = df2.drop('data', 1)

In [12]:
df2.head(10)

   Code           Prerequisite  name  value
0   321    ACCT202 AND MFIN202  ACCT     47
1   501                    NaN  ACCT     67
2   101                    NaN  ACWR     40
3   201                    NaN  ACCT    154
4   202                ACCT201  ACCT     70
5   103                ACWR101  ACWR     33
6   104                ACWR101  ACWR     30
7   100                    NaN  ALIS     50
8   106                ACWR101  ACWR     31
9   201                    NaN  ARBC     31

In [13]:
df2['data'] = ''

In [14]:
for i in range(0, len(df2)):
    df2['data'][i] = {'name': df2['Code'][i], 'value': df2['value'][i], 'prereq': df2['Prerequisite'][i]}

C:\Users\Public\Empty\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [15]:
df2 = df2.drop('Code', 1)
df2 = df2.drop('value', 1)
df2 = df2.drop('Prerequisite', 1)
df2.head(10)

   name                                               data
0  ACCT  {'name': 321, 'value': 47, 'prereq': '  ACCT20...
1  ACCT          {'name': 501, 'value': 67, 'prereq': nan}
2  ACWR          {'name': 101, 'value': 40, 'prereq': nan}
3  ACCT         {'name': 201, 'value': 154, 'prereq': nan}
4  ACCT  {'name': 202, 'value': 70, 'prereq': '  ACCT201'}
5  ACWR  {'name': 103, 'value': 33, 'prereq': '  ACWR101'}
6  ACWR  {'name': 104, 'value': 30, 'prereq': '  ACWR101'}
7  ALIS          {'name': 100, 'value': 50, 'prereq': nan}
8  ACWR  {'name': 106, 'value': 31, 'prereq': '  ACWR101'}
9  ARBC          {'name': 201, 'value': 31, 'prereq': nan}

In [16]:
for i in range(0, len(df2)):
    for j in range(0, len(df)):
        if ( df2['name'][i] ==  df['name'][j]):
            df['data'][j].append(df2['data'][i])

In [17]:
df.head(66)

    name                                               data
0   ACCT  [{'name': 321, 'value': 47, 'prereq': '  ACCT2...
1   ACWR  [{'name': 101, 'value': 40, 'prereq': nan}, {'...
2   ALIS        [{'name': 100, 'value': 50, 'prereq': nan}]
3   ARBC  [{'name': 201, 'value': 31, 'prereq': nan}, {'...
4   ARHA  [{'name': 121, 'value': 31, 'prereq': nan}, {'...
5   ARTS  [{'name': 201, 'value': 90, 'prereq': nan}, {'...
6   ASIU  [{'name': 100, 'value': 47, 'prereq': nan}, {'...
7   BUSA        [{'name': 499, 'value': 48, 'prereq': nan}]
8   CHBI  [{'name': 201, 'value': 62, 'prereq': '  CHEM1...
9   CHEM  [{'name': 502, 'value': 29, 'prereq': nan}, {'...
10  CHIN  [{'name': 201, 'value': 18, 'prereq': nan}, {'...
11  CMKT        [{'name': 501, 'value': 98, 'prereq': nan}]
12  CMSE        [{'name': 501, 'value': 47, 'prereq': nan}]
13  COMM        [{'name': 202, 'value': 44, 'prereq': nan}]
14  COMP  [{'name': 106, 'value': 104, 'prereq': nan}, {...
15  CPAP       [{'name': 100, 'value': 105, 'prereq': nan}]
16  CSHS  [{'name': 504, 'value': 31, 'prereq': nan}, {'...
17  DASC  [{'name': 521, 'value': 231, 'prereq': nan}, {...
18  DTES        [{'name': 551, 'value': 25, 'prereq': nan}]
19  ECIR  [{'name': 313, 'value': 60, 'prereq': '  INTL2...
20  ECON  [{'name': 101, 'value': 107, 'prereq': nan}, {...
21  EFIN  [{'name': 301, 'value': 66, 'prereq': '  MFIN2...
22   ELC  [{'name': 1035, 'value': 20, 'prereq': nan}, {...
23  ELEC  [{'name': 198, 'value': 25, 'prereq': nan}, {'...
24  ENGR  [{'name': 200, 'value': 107, 'prereq': '  MATH...
25  EQUR  [{'name': 101, 'value': 34, 'prereq': nan}, {'...
26  ETHC  [{'name': 105, 'value': 107, 'prereq': nan}, {...
27  EXCH        [{'name': 301, 'value': 29, 'prereq': nan}]
28  FREN  [{'name': 201, 'value': 27, 'prereq': nan}, {'...
29  GERM  [{'name': 201, 'value': 30, 'prereq': nan}, {'...
..   ...                                                ...
36  ITAL  [{'name': 201, 'value': 30, 'prereq': nan}, {'...
37  LANG        [{'name': 290, 'value': 30, 'prereq': nan}]
38  LATN        [{'name': 401, 'value': 30, 'prereq': nan}]
39   LAW  [{'name': 103, 'value': 154, 'prereq': nan}, {...
40  LITR  [{'name': 101, 'value': 26, 'prereq': nan}, {'...
41  MASE  [{'name': 510, 'value': 33, 'prereq': nan}, {'...
42  MATH  [{'name': 101, 'value': 107, 'prereq': nan}, {...
43  MAVA  [{'name': 102, 'value': 29, 'prereq': nan}, {'...
44  MBGE  [{'name': 101, 'value': 48, 'prereq': nan}, {'...
45  MECH  [{'name': 201, 'value': 104, 'prereq': '  PHYS...
46  MEDI  [{'name': 101, 'value': 107, 'prereq': nan}, {...
47  MFIN  [{'name': 202, 'value': 104, 'prereq': '  ECON...
48  MGIS  [{'name': 301, 'value': 75, 'prereq': '  CPAP1...
49  MGMT  [{'name': 335, 'value': 47, 'prereq': '  ACCT2...
50  MKTG  [{'name': 302, 'value': 48, 'prereq': '  MKTG2...
51  MUSC        [{'name': 200, 'value': 17, 'prereq': nan}]
52  NURS        [{'name': 101, 'value': 50, 'prereq': nan}]
53  OPSM  [{'name': 501, 'value': 98, 'prereq': nan}, {'...
54  PHIL  [{'name': 101, 'value': 48, 'prereq': nan}, {'...
55  PHYS  [{'name': 101, 'value': 154, 'prereq': nan}, {...
56  PSYC  [{'name': 100, 'value': 231, 'prereq': nan}, {...
57  QMBU  [{'name': 301, 'value': 0, 'prereq': '  MATH20...
58  RUSS  [{'name': 201, 'value': 0, 'prereq': nan}, {'n...
59  SCIE  [{'name': 103, 'value': 0, 'prereq': nan}, {'n...
60  SOCI  [{'name': 100, 'value': 0, 'prereq': nan}, {'n...
61  SOSC  [{'name': 105, 'value': 0, 'prereq': nan}, {'n...
62  SPAN  [{'name': 201, 'value': 0, 'prereq': nan}, {'n...
63  TECH         [{'name': 514, 'value': 0, 'prereq': nan}]
64  TLIT  [{'name': 202, 'value': 0, 'prereq': nan}, {'n...
65  TURK  [{'name': 100, 'value': 0, 'prereq': nan}, {'n...

[66 rows x 2 columns]

In [18]:
len(df)

67

In [19]:
df['data'][14]

[{'name': 106, 'value': 104, 'prereq': nan},
 {'name': 110, 'value': 75, 'prereq': nan},
 {'name': 130, 'value': 154, 'prereq': nan},
 {'name': 131, 'value': 154, 'prereq': nan},
 {'name': 111, 'value': 17, 'prereq': nan},
 {'name': 132, 'value': 66, 'prereq': '  COMP131 OR COMP130'},
 {'name': 198, 'value': 28, 'prereq': '  COMP132'},
 {'name': 200, 'value': 104, 'prereq': '  COMP106'},
 {'name': 301, 'value': 75, 'prereq': '  COMP200'},
 {'name': 302, 'value': 70, 'prereq': '  COMP132 OR COMP202'},
 {'name': 317, 'value': 34, 'prereq': '  ELEC204'},
 {'name': 319, 'value': 30, 'prereq': '  COMP202 OR COMP132'},
 {'name': 341,
  'value': 44,
  'prereq': '  ENGR200 OR ENGR201 OR MATH201 OR MATH211 OR MATH202'},
 {'name': 442, 'value': 40, 'prereq': '  COMP341'},
 {'name': 303, 'value': 107, 'prereq': '  ELEC204'},
 {'name': 450,
  'value': 48,
  'prereq': '  ENGR200 AND MATH107  COMP341 OR COMP421'},
 {'name': 491, 'value': 31, 'prereq': '  COMP202 AND COMP302'},
 {'name': 550, 'value': 44, 'prereq': nan},
 {'name': 551, 'value': 48, 'prereq': nan}]

In [20]:
df.to_json (r'bubble_data.json', orient='records')